@page "/"

<PageTitle>Index</PageTitle>

<h1>Hola mundo! Soy un proyecto Blazor!</h1>

Bienvenido a mi página web.

<SurveyPrompt Title="How is Blazor working for you?" />
<Counter IncrementAmount="5"/>
<CurrentTime />